* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #071f36f8;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

/* TYPOGROPHY */

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  display: block;
  /* don't leave this here */
}

p {
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 0;
}

img {
  width: 100px;
  height: calc(100px * 0.666%);
  border-radius: 5px;
}

.movie-container {
  object-fit: contain;
  margin-right: 1em;
  margin-top: 0.5em;
}
.movie-container h3 {
  font-size: calc(16px / 1.5);
}
.movie-container a img {
  border-radius: 5px;
}

.movie-container0 {
  margin-left: 1em;
}

.movie-container img:hover,
.movie-container img:focus {
  border: 1px solid #071f36f8;
}




.related-titles-col {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

/* GENRE PAGE */

.genre-page-container {
  padding: 1em;
  background-color: #00b7ff57;
}

.genre-links-container {
  padding: 2em;
  width: 50%;
  margin: 0 auto;
}
.genre-movies {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;;
}

.genre-links-container {
  flex-basis: 200px;
}
