* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #071f36f8;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

/* TYPOGROPHY */

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  display: block;
  /* don't leave this here */
}

p {
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 0;
}

img {
  width: 100px;
  height: calc(100px / 0.666%);
  border-radius: 5px;
}

/* LOADING SPINNER */

.loader {
  border: 16px solid #fefefe;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  /* blue */
  border-top: 16px solid blue;
  animation: spin 1s linear infinite;
  margin: 1em auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 0.5em;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  align-items: center;
  background-color: #071f36f8;
  color: white;
}

.logo {
  font-size: 1.8rem;
  font-weight: 600;
}
a {
  color: inherit;
}

/* NAV STYLES */

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  transition: transform 0.5s ease, border-bottom 0.5s ease;
}

nav a:hover,
nav a:focus {
  transform: scale(1.02);
  border-bottom: 2px solid;
}

.show-button {
  cursor: pointer;
  border-bottom: 2px solid;
  transition: color 0.25s;
}

.show-button:hover {
  color: #b1e3fa;
}

/* LAYOUT */

/* IMAGE SLIDER STYLES */

.trending-container {
  background-color: #071f36c9;
  border-radius: 5px;
  border: inset 2px #071f3609;
  width: 100%;
  padding: 1em;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  animation: fade 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.trending-container::-webkit-scrollbar {
  height: 5px;
}

.trending-container::-webkit-scrollbar-thumb {
  background-color: #071f36f8;
  border-radius: 5px;
}

.movie-container {
  object-fit: contain;
  margin-right: 1em;
  margin-top: 0.5em;
}
.movie-container h3 {
  font-size: calc(16px / 1.5);
}
.movie-container a img {
  border-radius: 5px;
}

.movie-container0 {
  margin-left: 1em;
}

.movie-container img:hover,
.movie-container img:focus {
  border: 1px solid #071f36f8;
}

/* SELECTED MOVIE PAGE */
.movie-info-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  min-height: 50vh;
  background-position: center;
}

.img-col {
  display: none;
}

.info-col {
  align-self: center;
  margin: auto auto;
  width: 90%;
}

.info-col h2 + p {
  margin-top: 0.5em;
}
.sub-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  place-items: center;
}
.sub-info p {
  margin-top: 0.8em;
}

@media (min-width: 723px) {
  .released {
    display: none;
  }
  .header {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-around;
  }
  .img-col p {
    margin-top: 0;
    margin-bottom: 0;
  }
  nav {
    flex-direction: row;
    flex-basis: 40%;
    justify-content: space-around;
  }

  .movie-info-content {
    display: flex;
    justify-content: space-around;
    padding: 2em;
  }
  .img-col {
    padding: 1em;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  .img-col img {
    width: 250px;
    height: calc(250px / 0.666%);
    border-radius: 5px;
  }
  .info-col {
    width: 50%;
    margin: unset;
    align-self: baseline;
  }
}

.genre a {
  display: block;
  background-color: #071f36f8;
  padding: 0.75em 2.25em;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.genre-col,
.related-titles-col {
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: #00b7ff57;
}

.genres-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

/* GENRE PAGE */

.genre-page-container {
  padding: 1em;
  background-color: #00b7ff57;
}

.genre-links-container {
  padding: 2em;
  width: 50%;
  margin: 0 auto;
}
.genre-movies {
  display: flex;
  flex-wrap: wrap;
}

.genre-links-container {
  flex-basis: 200px;
}
